<template>
  <div :class="viewPort">
    <NuxtLayout>
      <NuxtPage />
    </NuxtLayout>
  </div>
</template>

<script setup>
import { storeToRefs } from "pinia";
import { useAppStore } from "@/stores/app";

const appStore = useAppStore();

const {
  viewPort,
  innerWidth,
} = storeToRefs(appStore);

const onResize = (event) => {
  innerWidth.value = event.target.innerWidth || 0;
}

onMounted(() => {
  window.addEventListener("resize", onResize);
});
onBeforeUnmount(() => {
  window.removeEventListener("resize", onResize);
});

</script>

<style lang="scss">
:root {
  --header-h: 50px;
  --footer-h: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  background-color: $background;
}

</style>
