<template>
  <div class="articles-last">
    <card class="articles-last__card" v-for="item of props.articles" :key="item.id">
      <img class="articles-last__card-img" :src="renderUrlImages(item.images)" />
      <div class="articles-last__card-content">
        <h4>{{ item.title }}</h4>
        <div>{{ item.desc }}</div>
      </div>
    </card>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps({
  articles: {
    type: Array,
    default: [],
  }
});

function renderUrlImages(images: string[]): string {
  return images.length ? images[0] ? images[0] : '' : '';
}
</script>

<style lang="scss" scoped>
.articles-last {
  &__card {
    display: block;
    width: 33.33334%;
    margin-rigth: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
    &-content {
      h4 {
        font-size: 16px;
      }
    }
  }
}
</style>
