<template>
  <LayoutComponent v-if="isInitApp">
    <RouterView />
  </LayoutComponent>
  <Loader v-else />
</template>

<script setup lang="ts">
import { ref, computed, watch, onBeforeMount, onMounted, onBeforeUnmount, Component } from "vue";
import { RouterView, useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { useCookies } from "vue3-cookies";

import Loader from "@/components/base/loader.vue";

import Layout from "@/composables/Layout";

import { useAppStore } from "@/stores/app";
import { useAuthStore } from "./stores/auth";
import { useSidebarStore } from "./stores/sidebar";

const router = useRouter();
const { cookies } = useCookies();

const appStore = useAppStore();
const {
  clientWidth,
  clientHeigth,
  viewPort,
  layoutName
} = storeToRefs(appStore);

const authStore = useAuthStore();
const { isCheckAuth } = storeToRefs(authStore);

const isInitApp = computed(() => isCheckAuth.value)

const LayoutComponent = ref<Component>(Layout(layoutName.value));
watch(layoutName, (name) => LayoutComponent.value = Layout(name));

const onResize = (): void => {
  clientHeigth.value = document.body.clientHeight || window.innerHeight;
  clientWidth.value = document.body.clientWidth || window.innerWidth;
}

watch(viewPort, (val, old) => {
  if (old) {
    document.body.classList.remove(old);
  }
  document.body.classList.add(val);
});

// isOpenSidebar block
const sidebarStore = useSidebarStore();
const { isOpen: isOpenSidebar } = storeToRefs(sidebarStore);

const onWatchIsOpenSidebar = (isOpen) => {
  const classList = document.body.classList;
  isOpen ? classList.add('is-open-sidebar') : classList.remove('is-open-sidebar');
}

watch(isOpenSidebar, onWatchIsOpenSidebar);

onBeforeMount(async () => {
  const auth = await authStore.authCheck();
  if (auth.data.statusCode === 401) {
    cookies.remove('auth_token');
    localStorage.removeItem('user');
    router.push({ name: 'Auth' });
  }
});

onMounted(() => {
  onResize();
  onWatchIsOpenSidebar(isOpenSidebar.value);
  window.addEventListener("resize", onResize);
});

onBeforeUnmount(() => {
  window.removeEventListener("resize", onResize);
});
</script>

<style lang="scss">
.is-open-sidebar {
  body:not(&) {
    .layout-default {
      grid-template-columns: 5rem 1fr;
    }
  }

  .sidebar__menu-link-title {
    display: inline;
  }
  .sidebar__header-logo {
    display: block;
  }
}
</style>