<template>
  <div class="sidebar__menu flex flex-col pt-4 -mr-3 -ml-2">
    <RouterLink
      :to="item.path"
      v-for="item of listMenu"
      :key="item.icon"
      class="sidebar__menu-link flex items-center w-full rounded-lg px-4 py-3 hover:bg-gray-200"
    >
      <i class="icon" :class="item.icon"></i>
      <span class="sidebar__menu-link-title hidden">{{ item.title }}</span>
    </RouterLink>
  </div>
</template>

<script lang="ts" setup>
interface Props {
  listMenu: {
    icon: string;
    title: string;
    path: string;
  }[],
}
defineProps<Props>();
</script>
