<template>
  <div class="sidebar__header flex items-center">
    <RouterLink to="/">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-11 w-11 fill-emerald-500 rotate-[145deg] scale-x-100 -scale-y-100" version="1.1"
        viewBox="0 0 511.617 511.616">
        <g>
          <path
            d="M509.333,136.583c-1.526-11.038-3.805-22.845-6.851-35.408c-3.046-12.559-7.563-23.219-13.559-31.977 c-5.996-8.754-12.71-13.134-20.13-13.134c-0.855-3.712-4.996-3.284-12.422,1.286c-7.423,4.569-10.899,6.094-10.417,4.569   c0.472-1.524-2.102,0.378-7.714,5.708c-5.615,5.33-8.418,7.994-8.418,7.994l-8.426,8.42c-7.419,7.044-18.22,12.419-32.401,16.13   c-14.181,3.718-29.738,5.996-46.678,6.854c-16.94,0.859-33.928,1.431-50.963,1.714c-17.036,0.283-34.119,1.142-51.249,2.568   c-17.13,1.429-30.93,3.855-41.396,7.281c-20.749,6.851-40.163,15.942-58.245,27.268c-18.083,11.325-34.307,24.554-48.678,39.687   c-14.37,15.131-25.697,32.69-33.974,52.676c-8.276,19.98-12.419,40.921-12.419,62.809c0,10.089,0.855,19.985,2.568,29.694   c0.381,1.902,1.902,6.091,4.57,12.562c2.666,6.475,3.997,10.089,3.997,10.855c0,3.61-2.95,8.186-8.852,13.698   c-5.901,5.521-12.37,10.852-19.414,15.988c-7.042,5.137-13.512,11.372-19.414,18.699C2.952,409.857,0,416.853,0,423.512   c0,1.335,0.14,2.614,0.428,3.856c0.288,1.239,0.575,2.14,0.859,2.707c0.284,0.575,0.81,1.523,1.569,2.851   c0.765,1.331,1.331,2.386,1.714,3.142c3.237,5.517,5.806,9.518,7.708,11.991c1.902,2.472,4.851,4.754,8.85,6.852   c3.994,2.091,8.852,3.138,14.56,3.138c5.523,0,11.231-3.045,17.133-9.13c5.896-6.088,10.895-12.758,14.987-19.985   c4.09-7.231,8.376-13.895,12.847-19.985c4.471-6.088,8.232-9.134,11.276-9.134c4.377,0,13.512,3.524,27.408,10.567   c13.894,7.046,22.27,11.04,25.125,11.995c26.265,8.945,53.481,13.418,81.653,13.418c42.638,0,84.316-10.287,125.051-30.841   c41.688-20.745,75.705-46.247,102.069-76.513c26.364-30.269,43.92-66.711,52.678-109.353c3.798-18.653,5.701-37.019,5.701-55.102   C511.617,156.753,510.857,147.617,509.333,136.583z M360.011,233.363c-3.617,3.617-7.905,5.426-12.854,5.426   c-34.64,0-64.471,4.949-89.502,14.844C232.63,263.529,207.077,280.28,181,303.88c-3.802,3.617-10.179,9.896-19.126,18.843   c-8.945,8.948-15.99,15.704-21.126,20.27c-3.999,3.617-8.28,5.427-12.85,5.427c-4.952,0-9.233-1.81-12.851-5.427   c-3.617-3.607-5.424-7.898-5.424-12.847c0-4.569,1.807-8.844,5.424-12.848c23.22-25.696,45.633-46.586,67.237-62.666   c21.604-16.081,46.302-28.833,74.091-38.257c27.784-9.423,58.047-14.133,90.783-14.133c4.948,0,9.236,1.809,12.854,5.424   c3.613,3.621,5.424,7.903,5.424,12.85C365.435,225.464,363.632,229.747,360.011,233.363z">
          </path>
        </g>
      </svg>
    </RouterLink>
    <span class="sidebar__header-logo hidden ml-4 text-2xl font-mono font-semibold">Neworia</span>
  </div>
</template>
