<template>
  <div class="flex grow min-h-screen bg-slate-50">
    <div class="hidden w-full place-items-center lg:grid">
      <div class="w-full max-w-lg p-6">
        <img class="w-full" src="@/assets/images/dashboard-check.svg" alt="image">
      </div>
    </div>
    <main class="flex w-full flex-col items-center lg:max-w-md bg-white">
      <slot></slot>
    </main>
  </div>
</template>
