<template>
  <div class="layout-default">
    <Sidebar class="row-start-1 row-end-3" />
    <Header class="col-start-2 col-end-3" />
    <main class="main-content row-start-2 row-end-3 col-start-2 col-end-3">
      <slot></slot>
    </main>
  </div>
</template>

<script setup lang="ts">
import Header from "@/components/base/header/index.vue";
import Sidebar from "@/components/base/sidebar/index.vue";
</script>
