<template>
  <div class="flex flex-col pt-5 pb-4">
    <div class="grid grid-rows-1 grid-cols-2 gap-1 items-center">
      <PanelMenu />
      <div class="grid grid-cols-5 gap-1">
        <span class="cursor-pointer col-start-5 justify-self-end" @click="isFolding = !isFolding">
          <svg
            v-if="isFolding"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <svg
            v-else
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { watch } from "vue";
import { storeToRefs } from 'pinia';
import { useAppStore } from "@/stores/app";

import PanelMenu from "./panel/PanelMenu.vue";

const appStore = useAppStore();
const {
  isFolding,
  isTrigerFolding,
} = storeToRefs(appStore);


const isFoldingLocal = localStorage.getItem('is_categories_files_folding');
if (isFoldingLocal) {
  isFolding.value = isFoldingLocal === 'true';
}

watch(isFolding, (val) => {
  if (!isTrigerFolding.value) isTrigerFolding.value = true;
  localStorage.setItem('is_categories_files_folding', String(val))
});
</script>
