<template>
  <div class="flex items-center justify-between pt-5 pb-4">
    <div class="flex items-center">
      <h3 class="text-xl font-semibold text-slate-700">{{ path }}</h3>
    </div>
    <div class="flex">
      <button class="btn h-8 w-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useFilesStore } from "@/stores/files";

const filesStore = useFilesStore();

const { path } = storeToRefs(filesStore);

</script>
