<template>
  <div class="workspace" @drop.prevent="onDrop" @dragover.prevent="" @mouseleave="onMouseleave"
    @mouseup.prevent="onMouseup" @mousemove.prevent="onMousemove">
    <div ref="workspace" class="grid sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 gap-2" :class="{
      'max-h-0': isFolding,
      'max-h-max': !isFolding,
      'animate-folding': isFolding && isTrigerFolding,
      'animate-unfolding': !isFolding && isTrigerFolding,
    }">
      <FolderCard :ref="el => { if (el) folderElemList[i] = el }" v-for="(folder, i) of folders" :key="folder.id"
        :folder="folder" @mousedown.prevent="onMousedownFolder(folder)" />
      <FileCard :ref="el => { if (el) fileElemList[i] = el }" v-for="(file, i) of files" :key="file.id" :file="file"
        @mousedown.prevent="onMousedownFile(file)" />
    </div>
    <Loader v-if="isUploadFiles" />
    <div v-if="isLock && isMoved" class="absolute -z-1 top-0 left-0" :style="stylesMove">
      <FileCard v-if="currentFile" :file="currentFile" />
      <FolderCard v-if="currentFolder" :folder="currentFolder" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, onBeforeUpdate } from 'vue';
import { storeToRefs } from 'pinia';

import { useFilesStore } from '@/stores/files';
import { useAppStore } from "@/stores/app";

import {
  useOnMouseElement,
  isLock,
  isMoved,
  currentFile,
  currentFolder,
  stylesMove,
} from "@/composables/files/OnMouseElement";

import { checkEntryArea } from "@/utils/check-entry-area.utils";

import { moveElementParams } from "@/types/move-element-params.type";
import { CurrentPositionType } from "@/types/current-position.type";

import Loader from '../base/loader.vue';
import FileCard from './card/FileCard.vue';
import FolderCard from './card/FolderCard.vue';

const workspace = ref<HTMLDivElement | null>(null);
const fileElemList = ref<InstanceType<typeof FileCard>[]>([]);
const folderElemList = ref<InstanceType<typeof FolderCard>[]>([]);

const typesElement: string[] = ['folder', 'file'];

const filesStore = useFilesStore();

const {
  isUploadFiles,
  files,
  folders
} = storeToRefs(filesStore);

const onDrop = async (event: DragEvent) => {
  const filesDrop: FileList = event.dataTransfer.files;
  if (filesDrop.length) {
    await filesStore.uploadFiles(filesDrop, filesStore.path);
  }
}

const appStore = useAppStore();
const {
  isFolding,
  isTrigerFolding,
} = storeToRefs(appStore);

const {
  onMouseleave,
  onMousedownFile,
  onMousedownFolder,
  onMousemove,
} = useOnMouseElement();

const movedElement = async (event: MouseEvent, type: string, cb: (params: moveElementParams) => Promise<any>) => {
  const position: CurrentPositionType = {
    x: event.x,
    y: event.y,
  }

  for (const component of folderElemList.value) {
    if (checkEntryArea(component.$el, position)) {
      const elems: string[] = [];
      if (typesElement.includes(type)) {
        elems.push(type === 'file' ? currentFile.value.id : currentFolder.value.id);
      }
      return await cb({
        elems,
        folder_id: component.folder.id,
      });
    }
  }
}

const onMouseup = (event: MouseEvent) => {
  if (currentFile.value) {
    movedElement(event, 'file', filesStore.moveFiles);
    currentFile.value = null;
  }
  if (currentFolder.value) {
    movedElement(event, 'folder', filesStore.moveFolders);
    currentFolder.value = null;
  }
  isLock.value = false;
  isMoved.value = false;
}

onBeforeUpdate(() => {
  fileElemList.value = [];
});
</script>
