<template>
  <div class="md:flex items-center hidden">
    <ul class="flex items-center p-2" v-for="item of menu" :key="item.key">
      <li class="file-menu-item" @click="onMenu(item.action)">
        <span>{{ item.name }}</span>
        <ul v-show="isMenus[item.action]" class="drop-down-menu">
          <li class="drop-down-menu-item" v-for="el of item.items" :key="el.key" @click="onAction(el.action)">{{ el.name
          }}</li>
        </ul>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { useMenuPanel } from "@/composables/files/Panel";
import { usePanelAction } from "@/composables/files/PanelAction";

const {
  menu,
  isMenus,
  initIsMenu,
  onMenu,
} = useMenuPanel();

initIsMenu();

const panelAction = usePanelAction();

const onAction = (type: string): void => {
  if (typeof panelAction[type] === 'function') {
    panelAction[type]();
  }
}
</script>
