<template>
  <div class="main-block">
    <div class="main-block__title">
      <span>{{ props.title }}</span>
    </div>
    <div class="main-block__content">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps({
  title: {
    type: String,
    required: true,
  }
})
</script>

<style lang="scss" scoped>
.main-block {
  padding: 30px 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 14px 0 rgba(37,44,65,0.12);
  &__title {
    margin-bottom: 20px;
    font-size: 28px;
    span {
      display: block;
      margin-bottom: 8px;
      text-align: center;
    }
    &::after {
      content: '';
      display: block;
      width: 40%;
      height: 1px;
      margin: 8px auto 0;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  &__title,
  &__content {
    display: block;
  }
}
</style>
