<template>
  <MainBlock title="Последнии публикации">
    <ArticlesLast :articles="articlesLast" />
  </MainBlock>
</template>

<script lang="ts" setup>
import { storeToRefs } from "pinia";
import { useArticlesStore } from "@/stores/articles";

import MainBlock from "@/components/base/MainBlock.vue";
import ArticlesLast from "@/components/articles/LastMain.vue";

const articlesStore = useArticlesStore();

const {
  articlesLast,
  articlesPopular,
} = storeToRefs(articlesStore);

articlesStore.getArticlesLast()
articlesStore.getArticlesPupular()
</script>

<style lang="scss" scoped>

</style>
