<template>
  <div class="flex flex-col items-center p-6 text-center">
    <img class="max-w-xs" src="@/assets/images/penguins.svg" alt="image">
    <p class="pt-4 text-xl font-semibold text-slate-800">
      Oops. This Page Not Found.
    </p>
    <p class="pt-2 text-slate-500">
      This page you are looking not available. Please back to home
    </p>
  </div>
</template>
