<template>
  <div class="flex flex-col justify-center w-full max-w-sm grow p-5 bg-white" :class="{ 'is-load': isAuthLoad }">
    <div class="text-center">
      <h2 class="text-2xl font-semibold text-slate-600">Добро пожаловать</h2>
      <p class="text-slate-400">Пожалуйста, войдите, чтобы продолжить</p>
    </div>
    <form class="mt-16" method="post" action="/auth/login" @submit.prevent>
      <div class="flex flex-col">
        <label class="relative flex" for="login">
          <input
            v-model="login"
            name="login"
            id="login"
            class="input-text peer"
            type="text"
            placeholder="Введите логин"
          />
          <svg
            class="h-5 w-5 fill-slate-500 transition-colors duration-300 peer-focus:fill-indigo-500 pointer-events-none absolute left-2 top-1/2 -translate-y-1/2"
            viewBox="0 0 502 512.17"
            shape-rendering="geometricPrecision"
            text-rendering="geometricPrecision"
            image-rendering="optimizeQuality"
            fill-rule="evenodd"
            clip-rule="evenodd"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="nonzero"
              d="m258.86 47.49 87.66 87.07h-87.66V47.49zm153.56 388.25h2.17v-6.69c0-11.17 4.41-21.35 11.5-28.75 7.16-7.45 17.03-12.09 27.9-12.09 10.88 0 20.76 4.63 27.91 12.09 7.1 7.4 11.5 17.58 11.5 28.75v6.69h2.17c3.54 0 6.43 2.89 6.43 6.43v63.57c0 3.54-2.89 6.43-6.43 6.43h-83.15c-3.54 0-6.43-2.89-6.43-6.43v-63.57c0-3.54 2.89-6.43 6.43-6.43zm36.48 41.1-6.7 17.53h23.58l-6.2-17.77c3.93-2.02 6.63-6.12 6.63-10.86 0-6.75-5.47-12.21-12.22-12.21-6.75 0-12.21 5.46-12.21 12.21 0 4.93 2.92 9.17 7.12 11.1zm-22.14-41.1h54.47v-6.69c0-7.94-3.1-15.14-8.08-20.33-4.93-5.14-11.71-8.33-19.16-8.33-7.44 0-14.23 3.19-19.15 8.33-4.99 5.19-8.08 12.39-8.08 20.33v6.69zm-63.05-186.89c43.59 27.63 82.97 40.71 116.77 37.61 1.67 33.87-.68 63.81-6.7 89.99-5.06-2.05-10.43-3.35-15.96-3.76 4.45-21.23 6.14-45.28 4.81-72.29-28.61 2.62-61.95-8.45-98.85-31.84-31.93 24.8-64.88 32.06-98.47 30.31-1.49 56.72 8.48 99.43 27.73 130.5 14.24-11.9 38.49-10.1 49.97-25.89.82-1.22 1.2-1.87 1.2-2.41-.01-.28-12.46-15.55-13.58-17.33-2.93-4.67-8.42-11-8.42-16.47 0-3.08 2.43-7.11 5.91-8-.27-4.63-.45-9.32-.45-13.96 0-2.75.05-5.53.15-8.25.15-1.72.47-2.48.93-4.14a29.348 29.348 0 0 1 13.1-16.65c2.23-1.41 4.64-2.5 7.12-3.4 4.5-1.64 2.32-8.74 7.25-8.85 11.54-.29 30.51 9.79 37.9 17.8 4.71 5.21 7.4 11 7.56 18.02l-.47 20.2c2.05.5 4.34 2.1 4.84 4.15 1.58 6.37-5.03 14.31-8.11 19.38-2.83 4.68-13.68 17.45-13.68 17.56-.05.55.23 1.24.97 2.35 4.04 5.56 9.66 8.93 15.86 11.5-.8 3.24-1.32 6.57-1.54 9.96-.99.69-1.9 1.46-2.75 2.3l-.05.06c-3.77 3.77-6.11 8.97-6.11 14.69v51.47c-8.33 4.7-17.15 8.8-26.47 12.3-75.45-27.53-120.08-95-116.76-221.11 39.67 2.08 78.59-6.5 116.3-35.8zM80.48 233.77c1.81-2.01 4.3-3.28 7.04-3.32l172.31.01c2.85-.01 5.39 1.24 7.21 3.26 1.78 1.99 2.88 4.74 2.88 7.79 0 2.95-1.1 5.66-2.85 7.66l-.07.09c-.6.66-1.27 1.24-2.01 1.73-3.31.6-6.66 1.13-10.03 1.58H87.65c-2.84 0-5.38-1.24-7.2-3.27-1.79-1.99-2.89-4.73-2.89-7.79 0-3 1.13-5.74 2.92-7.74zm0 68.89c1.84-2.05 4.39-3.33 7.17-3.33h119.98c.36 7.56.87 14.93 1.53 22.12H87.65c-2.84 0-5.38-1.24-7.21-3.27-1.78-1.98-2.88-4.73-2.88-7.78 0-3 1.13-5.74 2.92-7.74zm0 68.88c1.84-2.04 4.39-3.32 7.17-3.32h128.31c1.57 7.62 3.33 15 5.29 22.12H87.65c-2.84 0-5.38-1.24-7.21-3.27-1.79-1.99-2.88-4.73-2.88-7.78 0-3 1.13-5.75 2.92-7.75zm.01-206.67c1.83-2.05 4.38-3.32 7.16-3.32h99c2.85 0 5.39 1.25 7.21 3.27 1.78 1.99 2.88 4.74 2.88 7.79 0 3-1.12 5.74-2.92 7.74-1.84 2.04-4.38 3.31-7.17 3.31h-99c-2.83 0-5.38-1.24-7.21-3.27-1.78-1.98-2.88-4.73-2.88-7.79 0-2.99 1.13-5.74 2.93-7.73zm-.01-64.07c1.84-2.05 4.39-3.32 7.17-3.32h54.38c2.8 0 5.31 1.21 7.12 3.19l.08.08c1.79 1.99 2.88 4.73 2.88 7.79 0 3-1.12 5.74-2.92 7.74-1.83 2.04-4.37 3.31-7.16 3.31H87.65c-2.84 0-5.38-1.24-7.21-3.27-1.78-1.98-2.88-4.73-2.88-7.78 0-3 1.13-5.74 2.92-7.74zm311.06 40.41c0-6.47-4.36-12.07-10.33-13.69L255.61 5.23C253 1.98 249.01 0 244.65 0H25.52C11.41 0 0 11.4 0 25.51v436.8c0 14.09 11.43 25.51 25.52 25.51h245.93c-7-8.03-13.47-16.73-19.4-26.1H26.11V25.96h206.64v118c0 7.84 6.36 14.31 14.32 14.31h118.38v50.33c8.83 5.51 17.53 10.57 26.09 15.17v-82.56z"
            />
          </svg>
        </label>
        <div v-if="loginError" class="mt-1 text-xs text-error">{{ loginError }}</div>
      </div>
      <div class="flex flex-col mt-4">
        <label class="relative flex" for="password">
          <input
            v-model="password"
            name="password"
            id="password"
            class="input-text peer"
            type="password"
            placeholder="Введите пароль"
          />
          <svg
            class="h-5 w-5 fill-none stroke-slate-500 stroke-1 transition-colors duration-300 peer-focus:stroke-indigo-500 pointer-events-none absolute left-2 top-1/2 -translate-y-1/2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z">
            </path>
          </svg>
        </label>
        <div v-if="passwordError" class="mt-1 text-xs text-error">{{ passwordError }}</div>
      </div>
      <div class="flex items-center justify-between mt-4">
        <label class="flex items-center">
          <input
            v-model="forgot"
            name="forgot"
            class="h-4 w-4 rounded border-slate-300/70 bg-slate-100 mr-1"
            type="checkbox"
          >
          <span class="text-sm text-slate-400 transition-colors line-clamp-1 hover:text-slate-800 focus:text-slate-800">Запомнить меня</span>
        </label>
        <a
          href="#"
          class="text-sm text-slate-400 transition-colors line-clamp-1 hover:text-slate-800 focus:text-slate-800"
        >Забыли пароль?</a>
      </div>
      <button
        class="btn-login mt-4 text-md lg:text-lg"
        @click.prevent="onLogin"
      >Войти</button>
      <div v-if="errorMessage" class="mt-2 text-xm text-error">{{ errorMessage }}</div>
    </form>
  </div>
</template>

<script lang="ts" setup >
import { ref, computed } from "vue";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { useAuthStore } from "@/stores/auth";

import { errorsMessage, isValidate, ValidateErrorsMesageType } from "@/utils/validate.utils";

const router = useRouter();
const authStore = useAuthStore();

const { isAuthLoad } = storeToRefs(authStore);

const sendMessageError = (messages: Array<ValidateErrorsMesageType>, type: string): string => {
  const filter = messages.filter(v => v.type === type);
  if (filter.length) {
    return filter[0].message;
  }
  return '';
}
const loginError = computed<string>(() => sendMessageError(errorsMessage.value, 'login'));
const passwordError = computed<string>(() => sendMessageError(errorsMessage.value, 'password'));

const login = ref<string>('');
const password = ref<string>('');
const forgot = ref<boolean>(false);

const errorMessage = ref<string>('');

const onLogin = async () => {
  if (!isValidate(login.value, 'login') || !isValidate(password.value, 'password')) {
    return;
  }
  await authStore.login({
    login: login.value,
    password: password.value,
  })
    .then(response => {
      if (response.success) {
        authStore.auth = response.data;
        // TODO - сюда вернуться позже
        // связано с сервером, не присылает id
        authStore.auth.id = null;
        return router.push({ name: 'Main' });
      } else {
        errorMessage.value = response.messages[0];
      }
    })
    .catch(err => errorMessage.value = err);
}
</script>
