<template>
  <template v-if="isInitStore">
    <FilesPanel class="el-block files-panel" />
    <Workspace class="el-block overflow-hidden" />
  </template>
  <Loader v-else />
</template>

<script lang="ts" setup>
import { onBeforeMount } from "vue";
import { storeToRefs } from "pinia";

import Loader from "@/components/base/loader.vue";
import FilesPanel from "@/components/files/FilesPanel.vue";
import Workspace from "@/components/files/Workspace.vue";

import { useFilesStore } from "@/stores/files";

const filesStore = useFilesStore();
const {
  isInitStore,
} = storeToRefs(filesStore);

onBeforeMount(async () => await filesStore.initStore());

</script>
