<template>
  <div class="card-file">
    <images-type v-if="imagesMimeType.includes(file.fileType.mime)" :file="file" />
  </div>
</template>

<script lang="ts" setup>
import { toRef } from "vue";
import { FileStoreType } from "@/types/files/file.type";
import ImagesType from './filesType/ImagesType.vue';

interface Props {
  file: FileStoreType
}

const props = defineProps<Props>();
const file = toRef(props, 'file');

const imagesMimeType: string[] = ['image/jpeg', 'image/png', 'image/gif'];
</script>