<template>
  <div @click="onSelected" @dblclick="onOpen" class="card-folder" :class="{ 'bg-gray-100': isSelect }">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full text-yellow-500" viewBox="0 0 20 20" fill="currentColor">
      <path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"></path>
    </svg>
    <input v-if="isRename" v-model="folderName" type="text" name="folder_name"
      class="w-full p-2 pt-1 pb-1 border border-solid border-slate-200" @change="changeName" @blur="onBlur" autofocus />
    <span v-else class="text-center" :title="folder.name">{{ folder.name }}</span>
  </div>
</template>

<script lang="ts" setup>
import { toRefs, ref, computed } from "vue";
import { storeToRefs } from "pinia";

import { useFilesStore } from "@/stores/files";
import { FolderStoreType } from "@/types/files/folder.type";

const filesStore = useFilesStore();

const { folders } = storeToRefs(filesStore);

interface Props {
  folder: FolderStoreType;
}
const props = defineProps<Props>();

const { folder } = toRefs(props);

const isSelect = ref<boolean>(false);
const isRename = ref<boolean>(!folder.value.isSave);

const folderName = computed({
  get: () => folder.value.name,
  set: (val) => {
    const index = folders.value.findIndex(v => v.id === folder.value.id);
    if (index !== -1) {
      folders.value[index].name = val;
    }
  }
});

const onBlur = () => {
  if (!folderName.value) {
    folders.value = folders.value.filter(v => v.id !== folder.value.id);
  }
}

const changeName = async () => {
  isRename.value = false;
  await filesStore.createFolder({
    name: folderName.value,
    parent_id: folder.value.parent_id,
    path: folder.value.path,
  })
    .then(response => {
      if (response.data.success) {
        const index = folders.value.findIndex(v => v.id === folder.value.id);
        if (index !== -1) {
          folders.value[index] = response.data;
        }
      }
      return response.data;
    })
    .catch(err => err);
}

const onSelected = () => isSelect.value = !isSelect.value;

const onOpen = () => {

}

defineExpose({
  folder,
})
</script>

<style lang="scss" scoped></style>