<template>
  <header class="header">
    <MenuToggle
      class=""
      @click="toggleOpenSidebar"
    />
    <div class="flex items-center justify-center">
      тут будет доп управление и поиск
    </div>
    <Profile />
  </header>
</template>

<script lang="ts" setup>
import { storeToRefs } from 'pinia';
import { useSidebarStore } from '@/stores/sidebar';
import MenuToggle from '@/components/base/MenuToggle.vue';
import Profile from "./Profile.vue";

const sidebarStore = useSidebarStore();
const { isOpen: isOpenSidebar } = storeToRefs(sidebarStore);
const toggleOpenSidebar = () => isOpenSidebar.value = !isOpenSidebar.value;

</script>
