<template>
  <div class="flex items-center justify-end relative z-10">
    <svg
      class="w-6 h-6 cursor-pointer stroke-slate-900 hover:stroke-slate-600"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      @click="onToggleMenu"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
    </svg>
    <ul v-show="isOpen" class="w-64 min-h-6 p-2 absolute z-10 top-[38px] right-0 bg-white border-solid border-slate-300 border">
      <li class="list-item">
        <span class="list-action" @click="onRouterPush('setting')">Настройки</span>
      </li>
      <li class="list-item">
        <span class="list-action" @click="onLogout">Выход</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { ref, nextTick } from "vue";
import { useRouter } from "vue-router";
import { useAuthStore } from "@/stores/auth";

const router = useRouter();
const authStore = useAuthStore();

const isOpen = ref<boolean>(false);
const onToggleMenu = () => isOpen.value = !isOpen.value;

const onRouterPush = (route: string) => {
  console.log('onRouterPush', route)
}

const onLogout = async () => {
  await authStore.logout('login', 'token');
  nextTick(() => router.push({ name: 'Auth' }));
}
</script>
