<template>
  <img :src="src" :alt="file.fileName" class="files-image" />
  <span :title="file.fileName">{{ file.fileName }}</span>
</template>

<script lang="ts" setup>
import { computed, toRef } from "vue";
import { FileStoreType } from "@/types/files/file.type";

interface Props {
  file: FileStoreType
}
const props = defineProps<Props>();

const file = toRef(props, 'file');

const src = computed(() => `http://localhost:3030/uploads${file.value.folder.path === 'home' ? '/' : file.value.folder.path}${file.value.fileName}`);

console.log('file', file.value)

</script>
