:root {
  --bg: #f8fafc;
  --color-primary: #4f46e5;
}

.bg-accent {
  background-color: #5f5af6
}

.bg-black\/20 {
  background-color: rgba(0, 0, 0, .2)
}

.bg-black\/30 {
  background-color: rgba(0, 0, 0, .3)
}

.bg-current {
  background-color: currentColor
}

.bg-error {
  background-color: #ff5724
}

.bg-error\/10 {
  background-color: rgba(255, 87, 36, .1)
}

.bg-error\/15 {
  background-color: rgba(255, 87, 36, .15)
}

.bg-info {
  background-color: #0ea5e9
}

.bg-info\/10 {
  background-color: rgba(14, 165, 233, .1)
}

.bg-info\/15 {
  background-color: rgba(14, 165, 233, .15)
}

.bg-navy-500 {
  background-color: #384766
}

.bg-navy-600 {
  background-color: #313e59
}

.bg-navy-700 {
  background-color: #26334d
}

.bg-navy-900 {
  background-color: #192132
}

.bg-primary {
  background-color: #4f46e5;
}

.btn.bg-primary {
  &:hover {
    background-color: #4338ca;
  }

  &:focus {
    background-color: #4338ca;
  }

  &:active {
    background-color: rgba(67, 56, 202, .9);
  }
}

.bg-primary-focus {
  background-color: #4338ca;

}

.bg-primary\/10 {
  background-color: rgba(79, 70, 229, .1)
}

.bg-primary\/15 {
  background-color: rgba(79, 70, 229, .15)
}

.bg-secondary {
  background-color: #f000b9
}

.bg-secondary-focus {
  background-color: #bd0090
}

.bg-secondary\/10 {
  background-color: rgba(240, 0, 185, .1)
}

.bg-secondary\/15 {
  background-color: rgba(240, 0, 185, .15)
}

.bg-slate-100 {
  background-color: #f1f5f9
}

.bg-slate-150 {
  background-color: #e9eef5;
}

.bg-slate-200 {
  background-color: #e2e8f0
}

.bg-slate-300 {
  background-color: #cbd5e1
}

.bg-slate-50 {
  background-color: #f8fafc
}

.bg-slate-500 {
  background-color: #64748b
}

.bg-slate-900\/60 {
  background-color: rgba(15, 23, 42, .6)
}

.bg-success {
  background-color: #10b981
}

.bg-success\/10 {
  background-color: rgba(16, 185, 129, .1)
}

.bg-success\/15 {
  background-color: rgba(16, 185, 129, .15)
}

.bg-transparent {
  background-color: transparent
}

.bg-warning {
  background-color: #ff9800
}

.bg-warning\/10 {
  background-color: rgba(255, 152, 0, .1)
}

.bg-warning\/15 {
  background-color: rgba(255, 152, 0, .15)
}

.bg-white {
  background-color: #fff
}

.bg-white\/20 {
  background-color: hsla(0, 0%, 100%, .2)
}

.bg-white\/30 {
  background-color: hsla(0, 0%, 100%, .3)
}

.bg-white\/90 {
  background-color: hsla(0, 0%, 100%, .9)
}

.text-accent-light {
  color: #818cf8
}

.text-amber-400 {
  color: #fbbf24
}

.text-amber-50 {
  color: #fffbeb
}

.text-error {
  color: #ff5724
}

.text-indigo-100 {
  color: #e0e7ff
}

.text-indigo-50 {
  color: #eef2ff
}

.text-info {
  color: #0ea5e9
}

.text-navy-100 {
  color: #c2c9d6
}

.text-navy-700 {
  color: #26334d
}

.text-pink-100 {
  color: #fce7f3
}

.text-primary {
  color: #4f46e5
}

.text-secondary {
  color: #f000b9
}

.text-secondary-light {
  color: #ff57d8
}

.text-sky-100 {
  color: #e0f2fe
}

.text-slate-150 {
  color: #e9eef5
}

.text-slate-200 {
  color: #e2e8f0
}

.text-slate-400 {
  color: #94a3b8
}

.text-slate-500 {
  color: #64748b
}

.text-slate-600 {
  color: #475569
}

.text-slate-700 {
  color: #334155
}

.text-slate-800 {
  color: #1e293b
}

.text-slate-900 {
  color: #0f172a
}

.text-success {
  color: #10b981
}

.text-transparent {
  color: transparent
}

.text-warning {
  color: #ff9800
}

.text-white {
  color: #fff
}

.text-yellow-100 {
  color: #fef9c3
}

.text-yellow-500 {
  color: #eab308
}

.border-accent {
  border-color: #5f5af6
}

.border-current {
  border-color: currentColor
}

.border-error {
  border-color: #ff5724
}

.border-error\/30 {
  border-color: rgba(255, 87, 36, .3)
}

.border-info {
  border-color: #0ea5e9
}

.border-info\/30 {
  border-color: rgba(14, 165, 233, .3)
}

.border-navy-600 {
  border-color: #313e59
}

.border-primary {
  border-color: #4f46e5
}

.border-primary\/30 {
  border-color: rgba(79, 70, 229, .3)
}

.border-secondary {
  border-color: #f000b9
}

.border-secondary\/30 {
  border-color: rgba(240, 0, 185, .3)
}

.border-slate-150 {
  border-color: #e9eef5
}

.border-slate-200 {
  border-color: #e2e8f0
}

.border-slate-300 {
  border-color: #cbd5e1
}

.border-slate-400\/70 {
  border-color: rgba(148, 163, 184, .7)
}

.border-slate-50 {
  border-color: #f8fafc
}

.border-slate-500 {
  border-color: #64748b
}

.border-success {
  border-color: #10b981
}

.border-success\/30 {
  border-color: rgba(16, 185, 129, .3)
}

.border-transparent {
  border-color: transparent
}

.border-warning {
  border-color: #ff9800
}

.border-warning\/30 {
  border-color: rgba(255, 152, 0, .3)
}

.border-white {
  border-color: #fff
}

.border-white\/10 {
  border-color: hsla(0, 0%, 100%, .1)
}

.border-b-slate-200 {
  border-bottom-color: #e2e8f0
}

.border-l-info {
  border-left-color: #0ea5e9
}

.border-l-secondary {
  border-left-color: #f000b9
}

.border-l-warning {
  border-left-color: #ff9800
}

.border-r-error {
  border-right-color: #ff5724
}

.border-r-info {
  border-right-color: #0ea5e9
}

.border-r-primary {
  border-right-color: #4f46e5
}

.border-r-secondary {
  border-right-color: #f000b9
}

.border-r-slate-400 {
  border-right-color: #94a3b8
}

.border-r-slate-500 {
  border-right-color: #64748b
}

.border-r-success {
  border-right-color: #10b981
}

.border-r-transparent {
  border-right-color: transparent
}

.border-r-warning {
  border-right-color: #ff9800
}