.form-checkbox,
.form-checkbox:before,
.form-input,
.form-multiselect,
.form-radio,
.form-radio:before,
.form-select,
.form-switch,
.form-switch:before,
.form-textarea {
  transition-duration: .2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.form-input,
.form-multiselect,
.form-select,
.form-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  letter-spacing: .025em;
  outline: 2px solid transparent;
  outline-offset: 2px
}

.form-input::-moz-placeholder,
.form-multiselect::-moz-placeholder,
.form-select::-moz-placeholder,
.form-textarea::-moz-placeholder {
  font-weight: 300
}

.form-input::placeholder,
.form-multiselect::placeholder,
.form-select::placeholder,
.form-textarea::placeholder {
  font-weight: 300
}

.form-input:focus,
.form-multiselect:focus,
.form-select:focus,
.form-textarea:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.form-input,
.form-multiselect,
.form-select,
.form-textarea {
  contain: paint
}

.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath stroke='%235C6B8A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  background-position: 50%;
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact
}

.form-multiselect {
  background-image: none;
  background-position: 0 0;
  background-repeat: unset;
  background-size: initial;
  padding-right: .75rem;
  -webkit-print-color-adjust: unset;
  print-color-adjust: unset
}

.form-checkbox,
.form-radio,
.form-switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.form-checkbox,
.form-checkbox:focus,
.form-radio,
.form-radio:focus,
.form-switch,
.form-switch:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.form-checkbox,
.form-radio,
.form-switch {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact
}

.form-switch {
  --thumb-border: 2px
}

.form-switch:before {
  content: var(--tw-content);
  height: calc(100% - var(--thumb-border)*2);
  left: var(--thumb-border);
  position: absolute;
  top: var(--thumb-border);
  width: calc(50% - var(--thumb-border)*2)
}

.form-switch:checked:before {
  --tw-translate-x: calc(100% + var(--thumb-border)*2);
  content: var(--tw-content);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.form-switch:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.form-switch.is-outline:before {
  content: var(--tw-content);
  width: calc(50% - var(--thumb-border)*2 - 1px)
}

.form-switch.is-outline:checked:before {
  --tw-translate-x: calc(100% + var(--thumb-border)*2 + 2px);
  content: var(--tw-content);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.form-radio {
  --tw-thumb: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3.5'/%3E%3C/svg%3E")
}

.form-radio:before {
  content: var(--tw-content);
  transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.form-checkbox {
  --tw-thumb: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E")
}

.form-checkbox:before {
  content: var(--tw-content);
  transform-origin: bottom;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.form-checkbox,
.form-radio {
  border-width: 1px;
  display: inline-block;
  transition-timing-function: cubic-bezier(0, 0, .2, 1)
}

.form-checkbox:before,
.form-radio:before {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%
}

.form-checkbox:before,
.form-checkbox:checked:before,
.form-radio:before,
.form-radio:checked:before {
  content: var(--tw-content);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.form-checkbox:checked:before,
.form-radio:checked:before {
  --tw-scale-x: 1;
  --tw-scale-y: 1
}

.form-checkbox:hover,
.form-radio:hover {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.form-checkbox.is-basic,
.form-radio.is-basic {
  background-origin: border-box
}

.form-checkbox.is-basic:before,
.form-radio.is-basic:before {
  background-image: var(--tw-thumb);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: var(--tw-content)
}

.form-checkbox.is-outline:before,
.form-radio.is-outline:before {
  content: var(--tw-content);
  -webkit-mask-image: var(--tw-thumb);
  mask-image: var(--tw-thumb)
}

.form-range {
  --range-thumb-size: 1.125rem;
  --range-track-h: 0.375rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  display: block;
  outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%
}

.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: currentColor;
  border-radius: 9999px;
  border-style: none;
  cursor: pointer;
  height: var(--range-thumb-size);
  position: relative;
  top: 50%;
  width: var(--range-thumb-size)
}

.form-range::-webkit-slider-thumb:active {
  opacity: .85
}

.form-range::-webkit-slider-thumb {
  transform: translateY(-50%)
}

.form-range::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  background-color: currentColor;
  border-radius: 9999px;
  border-style: none;
  cursor: pointer;
  height: var(--range-thumb-size);
  position: relative;
  top: 50%;
  width: var(--range-thumb-size)
}

.form-range::-moz-range-thumb:active {
  opacity: .85
}

.form-range::-moz-range-track {
  background-color: #e9eef5;
  border-radius: 9999px;
  height: var(--range-track-h);
  width: 100%
}

.dark .form-range::-moz-range-track {
  background-color: #384766
}

.form-range::-webkit-slider-runnable-track {
  background-color: #e9eef5;
  border-radius: 9999px;
  height: var(--range-track-h);
  width: 100%
}

.dark .form-range::-webkit-slider-runnable-track {
  background-color: #384766
}