.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-col-reverse {
  flex-direction: column-reverse
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-grow,
.grow {
  flex-grow: 1
}

.place-items-center {
  place-items: center;
}

.p-0 {
  padding: 0 !important
}

.p-0\.5 {
  padding: .125rem
}

.p-1 {
  padding: .25rem
}

.p-1\.5 {
  padding: .375rem
}

.p-2 {
  padding: .5rem
}

.p-2\.5 {
  padding: .625rem
}

.p-3 {
  padding: .75rem
}

.p-3\.5 {
  padding: .875rem
}

.p-4 {
  padding: 1rem
}

.p-4\.5 {
  padding: 1.125rem
}

.p-5 {
  padding: 1.25rem
}

.p-6 {
  padding: 1.5rem
}

.p-\[3px\] {
  padding: 3px
}

.p-px {
  padding: 1px
}

.px-0 {
  padding-left: 0;
  padding-right: 0
}

.px-0\.5 {
  padding-left: .125rem;
  padding-right: .125rem
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem
}

.px-1\.5 {
  padding-left: .375rem;
  padding-right: .375rem
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem
}

.px-2\.5 {
  padding-left: .625rem;
  padding-right: .625rem
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem
}

.px-3\.5 {
  padding-left: .875rem;
  padding-right: .875rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem
}

.py-0 {
  padding-bottom: 0;
  padding-top: 0
}

.py-0\.5 {
  padding-bottom: .125rem;
  padding-top: .125rem
}

.py-1 {
  padding-bottom: .25rem;
  padding-top: .25rem
}

.py-1\.5 {
  padding-bottom: .375rem;
  padding-top: .375rem
}

.py-10 {
  padding-bottom: 2.5rem;
  padding-top: 2.5rem
}

.py-12 {
  padding-bottom: 3rem;
  padding-top: 3rem
}

.py-2 {
  padding-bottom: .5rem;
  padding-top: .5rem
}

.py-2\.5 {
  padding-bottom: .625rem;
  padding-top: .625rem
}

.py-3 {
  padding-bottom: .75rem;
  padding-top: .75rem
}

.py-4 {
  padding-bottom: 1rem;
  padding-top: 1rem
}

.py-5 {
  padding-bottom: 1.25rem;
  padding-top: 1.25rem
}

.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem
}

.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem
}

.pb-0 {
  padding-bottom: 0
}

.pb-0\.5 {
  padding-bottom: .125rem
}

.pb-1 {
  padding-bottom: .25rem
}

.pb-12 {
  padding-bottom: 3rem
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: .5rem
}

.pb-3 {
  padding-bottom: .75rem
}

.pb-4 {
  padding-bottom: 1rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pb-6 {
  padding-bottom: 1.5rem
}

.pb-8 {
  padding-bottom: 2rem
}

.pl-1 {
  padding-left: 0.25rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.pl-4 {
  padding-left: 1rem
}

.pl-5 {
  padding-left: 1.25rem
}

.pl-6 {
  padding-left: 1.5rem
}

.pl-8 {
  padding-left: 2rem
}

.pl-9 {
  padding-left: 2.25rem
}

.pr-1 {
  padding-right: .25rem
}

.pr-2 {
  padding-right: .5rem
}

.pr-3 {
  padding-right: .75rem
}

.pr-4 {
  padding-right: 1rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pr-6 {
  padding-right: 1.5rem
}

.pr-7 {
  padding-right: 1.75rem
}

.pr-8 {
  padding-right: 2rem
}

.pr-9 {
  padding-right: 2.25rem
}

.pr-10 {
  padding-right: 2.5rem
}

.pr-11 {
  padding-right: 2.75rem
}

.pr-12 {
  padding-right: 3rem
}

.pt-0 {
  padding-top: 0
}

.pt-1 {
  padding-top: .25rem
}

.pt-2 {
  padding-top: .5rem
}

.pt-3 {
  padding-top: .75rem
}

.pt-4 {
  padding-top: 1rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pt-6 {
  padding-top: 1.5rem
}

.pt-7 {
  padding-top: 1.75rem
}

.pt-8 {
  padding-top: 2rem
}

.pt-9 {
  padding-top: 2.25rem
}

.pt-10 {
  padding-top: 2.5rem
}

.pt-12 {
  padding-top: 3rem
}

.pt-14 {
  padding-top: 3.5rem
}

// margin
.-m-0 {
  margin: 0
}

.-m-0\.5 {
  margin: -.125rem
}

.-m-1 {
  margin: -.25rem
}

.-m-3 {
  margin: -.75rem
}

.-m-px {
  margin: -1px
}

.m-0 {
  margin: 0
}

.m-0\.5 {
  margin: .125rem
}

.m-1 {
  margin: .25rem
}

.m-1\.5 {
  margin: .375rem
}

.m-2 {
  margin: .5rem
}

.m-auto {
  margin: auto
}

.-mx-2 {
  margin-left: -.5rem;
  margin-right: -.5rem
}

.mx-0 {
  margin-left: 0;
  margin-right: 0
}

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem
}

.mx-3 {
  margin-left: .75rem;
  margin-right: .75rem
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-0 {
  margin-bottom: 0;
  margin-top: 0
}

.my-0\.5 {
  margin-bottom: .125rem;
  margin-top: .125rem
}

.my-1 {
  margin-bottom: .25rem;
  margin-top: .25rem
}

.my-2 {
  margin-bottom: .5rem;
  margin-top: .5rem
}

.my-3 {
  margin-bottom: .75rem;
  margin-top: .75rem
}

.my-3\.5 {
  margin-bottom: .875rem;
  margin-top: .875rem
}

.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem
}

.my-5 {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem
}

.my-7 {
  margin-bottom: 1.75rem;
  margin-top: 1.75rem
}

.-mb-0 {
  margin-bottom: 0
}

.-mb-0\.5 {
  margin-bottom: -.125rem
}

.-ml-1 {
  margin-left: -.25rem
}

.-ml-1\.5 {
  margin-left: -.375rem
}

.-mr-1 {
  margin-right: -.25rem
}

.-mr-1\.5 {
  margin-right: -.375rem
}

.-mr-2 {
  margin-right: -.5rem
}

.-mt-1 {
  margin-top: -.25rem
}

.-mt-12 {
  margin-top: -3rem
}

.-mt-16 {
  margin-top: -4rem
}

.-mt-20 {
  margin-top: -5rem
}

.-mt-3 {
  margin-top: -.75rem
}

.-mt-5 {
  margin-top: -1.25rem
}

.-mt-8 {
  margin-top: -2rem
}

.mb-1 {
  margin-bottom: .25rem
}

.ml-0 {
  margin-left: 0
}

.ml-0\.5 {
  margin-left: .125rem
}

.ml-1 {
  margin-left: .25rem
}

.ml-4 {
  margin-left: 1rem
}

.ml-auto {
  margin-left: auto
}

.mr-1 {
  margin-right: .25rem
}

.mr-1\.5 {
  margin-right: .375rem
}

.mr-2 {
  margin-right: .5rem
}

.mr-3 {
  margin-right: .75rem
}

.mr-4 {
  margin-right: 1rem
}

.mt-0 {
  margin-top: 0
}

.mt-0\.5 {
  margin-top: .125rem
}

.mt-1 {
  margin-top: .25rem
}

.mt-1\.5 {
  margin-top: .375rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-12 {
  margin-top: 3rem
}

.mt-16 {
  margin-top: 4rem
}

.mt-2 {
  margin-top: .5rem
}

.mt-2\.5 {
  margin-top: .625rem
}

.mt-20 {
  margin-top: 5rem
}

.mt-3 {
  margin-top: .75rem
}

.mt-3\.5 {
  margin-top: .875rem
}

.mt-4 {
  margin-top: 1rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-6 {
  margin-top: 1.5rem
}

.mt-8 {
  margin-top: 2rem
}

.mt-px {
  margin-top: 1px
}

// height
.h-1 {
  height: .25rem
}

.h-10 {
  height: 2.5rem
}

.h-11 {
  height: 2.75rem
}

.h-12 {
  height: 3rem
}

.h-14 {
  height: 3.5rem
}

.h-16 {
  height: 4rem
}

.h-18 {
  height: 4.5rem
}

.h-2 {
  height: .5rem
}

.h-20 {
  height: 5rem
}

.h-24 {
  height: 6rem
}

.h-28 {
  height: 7rem
}

.h-3 {
  height: .75rem
}

.h-36 {
  height: 9rem
}

.h-4 {
  height: 1rem
}

.h-40 {
  height: 10rem
}

.h-44 {
  height: 11rem
}

.h-48 {
  height: 12rem
}

.h-5 {
  height: 1.25rem
}

.h-56 {
  height: 14rem
}

.h-6 {
  height: 1.5rem
}

.h-64 {
  height: 16rem
}

.h-7 {
  height: 1.75rem
}

.h-72 {
  height: 18rem
}

.h-8 {
  height: 2rem
}

.h-80 {
  height: 20rem
}

.h-9 {
  height: 2.25rem
}

.h-full {
  height: 100%
}

.h-px {
  height: 1px
}

.max-h-96 {
  max-height: 24rem
}

.max-h-full {
  max-height: 100%
}

.min-h-100vh {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

.w-0 {
  width: 0
}

.w-1 {
  width: .25rem
}

.w-10 {
  width: 2.5rem
}

.w-11 {
  width: 2.75rem
}

.w-12 {
  width: 3rem
}

.w-14 {
  width: 3.5rem
}

.w-16 {
  width: 4rem
}

.w-18 {
  width: 4.5rem
}

.w-2 {
  width: .5rem
}

.w-20 {
  width: 5rem
}

.w-24 {
  width: 6rem
}

.w-28 {
  width: 7rem
}

.w-3 {
  width: .75rem
}

.w-32 {
  width: 8rem
}

.w-36 {
  width: 9rem
}

.w-4 {
  width: 1rem
}

.w-40 {
  width: 10rem
}

.w-48 {
  width: 12rem
}

.w-5 {
  width: 1.25rem
}

.w-56 {
  width: 14rem
}

.w-6 {
  width: 1.5rem
}

.w-60 {
  width: 15rem
}

.w-64 {
  width: 16rem
}

.w-7 {
  width: 1.75rem
}

.w-72 {
  width: 18rem
}

.w-8 {
  width: 2rem
}

.w-80 {
  width: 20rem
}

.w-9 {
  width: 2.25rem
}


.w-full {
  width: 100%
}

.w-max {
  width: max-content
}

.min-w-full {
  min-width: 100%
}

.max-w-lg {
  max-width: 32rem
}

.max-w-md {
  max-width: 28rem
}

.max-w-screen-lg {
  max-width: 1024px
}

.max-w-sm {
  max-width: 24rem
}

.max-w-xl {
  max-width: 36rem
}

.max-w-xs {
  max-width: 20rem
}

.rounded {
  border-radius: .25rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 100%
}

.rounded-lg {
  border-radius: .5rem
}

.rounded-md {
  border-radius: .375rem
}

.rounded-xl {
  border-radius: .75rem
}

.rounded-b-lg {
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem
}

.rounded-l-full {
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%
}

.rounded-l-lg {
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem
}

.rounded-r-full {
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%
}

.rounded-r-lg {
  border-bottom-right-radius: .5rem;
  border-top-right-radius: .5rem
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem
}

.rounded-t-lg {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem
}

.rounded-bl-lg {
  border-bottom-left-radius: .5rem
}

.rounded-br-lg {
  border-bottom-right-radius: .5rem
}

.rounded-tl-lg {
  border-top-left-radius: .5rem
}

.rounded-tr-lg {
  border-top-right-radius: .5rem
}