@font-face {
  font-family: 'neworia';
  src: url('@/assets/fonts/neworia.eot?mph1ma');
  src: url('@/assets/fonts/neworia.eot?mph1ma#iefix') format('embedded-opentype'),
    url('@/assets/fonts/neworia.ttf?mph1ma') format('truetype'),
    url('@/assets/fonts/neworia.woff?mph1ma') format('woff'),
    url('@/assets/fonts/neworia.svg?mph1ma#neworia') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'neworia' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}

.icon-cog:before {
  content: "\e901";
}

.icon-pictures:before {
  content: "\e902";
}

.icon-wallet:before {
  content: "\e903";
}

.icon-home:before {
  content: "\e904";
}

.icon-image:before {
  content: "\e90d";
}

.icon-images:before {
  content: "\e90e";
}

.icon-music:before {
  content: "\e911";
}

.icon-play:before {
  content: "\e912";
}

.icon-credit-card:before {
  content: "\e93f";
}

.icon-undo:before {
  content: "\e965";
}

.icon-redo:before {
  content: "\e966";
}

.icon-bubbles:before {
  content: "\e96c";
}

.icon-bubbles2:before {
  content: "\e96d";
}

.icon-bubbles3:before {
  content: "\e96f";
}

.icon-bubbles4:before {
  content: "\e970";
}

.icon-user:before {
  content: "\e971";
}

.icon-users:before {
  content: "\e972";
}

.icon-user-plus:before {
  content: "\e973";
}

.icon-user-minus:before {
  content: "\e974";
}

.icon-user-check:before {
  content: "\e975";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-list-numbered:before {
  content: "\e9b9";
}

.icon-list:before {
  content: "\e9ba";
}

.icon-list2:before {
  content: "\e9bb";
}

.icon-tree:before {
  content: "\e9bc";
}

.icon-heart:before {
  content: "\e9da";
}

.icon-heart-broken:before {
  content: "\e9db";
}

.icon-spell-check:before {
  content: "\ea12";
}

.icon-play2:before {
  content: "\ea15";
}

.icon-pause:before {
  content: "\ea16";
}

.icon-stop:before {
  content: "\ea17";
}

.icon-previous:before {
  content: "\ea18";
}

.icon-next:before {
  content: "\ea19";
}

.icon-backward:before {
  content: "\ea1a";
}

.icon-forward2:before {
  content: "\ea1b";
}

.icon-arrow-up-left2:before {
  content: "\ea39";
}

.icon-arrow-up2:before {
  content: "\ea3a";
}

.icon-arrow-up-right2:before {
  content: "\ea3b";
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-down-right2:before {
  content: "\ea3d";
}

.icon-arrow-down2:before {
  content: "\ea3e";
}

.icon-arrow-down-left2:before {
  content: "\ea3f";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-sort-alpha-asc:before {
  content: "\ea48";
}

.icon-sort-alpha-desc:before {
  content: "\ea49";
}

.icon-sort-numeric-asc:before {
  content: "\ea4a";
}

.icon-sort-numberic-desc:before {
  content: "\ea4b";
}

.icon-sort-amount-asc:before {
  content: "\ea4c";
}

.icon-sort-amount-desc:before {
  content: "\ea4d";
}

.icon-radio-unchecked:before {
  content: "\ea56";
}

.icon-crop:before {
  content: "\ea57";
}

.icon-make-group:before {
  content: "\ea58";
}

.icon-ungroup:before {
  content: "\ea59";
}

.icon-scissors:before {
  content: "\ea5a";
}

.icon-filter:before {
  content: "\ea5b";
}

.icon-font:before {
  content: "\ea5c";
}

.icon-ligature:before {
  content: "\ea5d";
}

.icon-ligature2:before {
  content: "\ea5e";
}

.icon-text-height:before {
  content: "\ea5f";
}

.icon-text-width:before {
  content: "\ea60";
}

.icon-font-size:before {
  content: "\ea61";
}

.icon-bold:before {
  content: "\ea62";
}

.icon-underline:before {
  content: "\ea63";
}

.icon-italic:before {
  content: "\ea64";
}

.icon-strikethrough:before {
  content: "\ea65";
}

.icon-omega:before {
  content: "\ea66";
}

.icon-sigma:before {
  content: "\ea67";
}

.icon-page-break:before {
  content: "\ea68";
}

.icon-superscript:before {
  content: "\ea69";
}

.icon-subscript:before {
  content: "\ea6a";
}

.icon-superscript2:before {
  content: "\ea6b";
}

.icon-subscript2:before {
  content: "\ea6c";
}

.icon-text-color:before {
  content: "\ea6d";
}

.icon-pagebreak:before {
  content: "\ea6e";
}

.icon-clear-formatting:before {
  content: "\ea6f";
}

.icon-table:before {
  content: "\ea70";
}

.icon-table2:before {
  content: "\ea71";
}

.icon-insert-template:before {
  content: "\ea72";
}

.icon-pilcrow:before {
  content: "\ea73";
}

.icon-ltr:before {
  content: "\ea74";
}

.icon-rtl:before {
  content: "\ea75";
}

.icon-section:before {
  content: "\ea76";
}

.icon-paragraph-left:before {
  content: "\ea77";
}

.icon-paragraph-center:before {
  content: "\ea78";
}

.icon-paragraph-right:before {
  content: "\ea79";
}

.icon-paragraph-justify:before {
  content: "\ea7a";
}

.icon-indent-increase:before {
  content: "\ea7b";
}

.icon-indent-decrease:before {
  content: "\ea7c";
}

.icon-share:before {
  content: "\ea7d";
}

.icon-new-tab:before {
  content: "\ea7e";
}

.icon-embed:before {
  content: "\ea7f";
}

.icon-embed2:before {
  content: "\ea80";
}

.icon-share2:before {
  content: "\ea82";
}

.icon-google-plus:before {
  content: "\ea8b";
}

.icon-file-word:before {
  content: "\eae1";
}

.icon-file-excel:before {
  content: "\eae2";
}

.icon-html-five:before {
  content: "\eae4";
}

.icon-html-five2:before {
  content: "\eae5";
}