@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout-default {
    @apply grid grid-rows-default grid-cols-default min-h-screen transition-grid-cols duration-300;
  }
  .sidebar {
    @apply border-r border-solid border-slate-200 bg-white overflow-hidden;
  }

  .header {
    @apply grid grid-rows-1 grid-cols-3 items-center px-4 lg:px-8 xl:pr-10 border-b border-solid border-slate-200 bg-white;
  }

  .main-content {
    @apply h-content px-8 pt-4 pb-5 overflow-y-auto;
  }
  /* не используется в шаблоне */
  .btn-default {
    @apply block w-full py-2 px-4 rounded-lg font-medium text-center border;
  }

  .btn {
    @apply btn-default bg-white hover:bg-slate-200 border-gray-200;
  }

  .btn-login {
    @apply btn-default bg-indigo-600 hover:bg-indigo-500 text-white border-indigo-400;
  }

  .list-item {
    @apply border-b last:border-b-0 border-solid border-slate-200 pb-2 last:pb-0 select-none;
  }

  .list-action {
    @apply block p-2 cursor-pointer hover:bg-slate-100;
  }

  .card-folder,
  .card-file {
    @apply grid md:w-20 w-16 h-auto overflow-hidden;
  }

  .files-image {
    @apply inline-block w-16 h-16 md:w-18 md:h-18 lg:w-20 lg:h-20 p-1 rounded-lg object-cover;
  }

  .el-block {
    @apply bg-white border border-solid border-gray-100 rounded-lg mb-5 last:mb-0 p-5;
  }

  .input-text {
    @apply w-full rounded-lg outline-none focus:ring ring-slate-200 bg-slate-100 px-3 py-2 pl-9 text-slate-500 focus:text-slate-600 placeholder:text-slate-400 transition-all duration-300;
  }

  .menu-toggle {
    @apply flex flex-col justify-between w-7 p-1 bg-transparent text-indigo-600 cursor-pointer;
  }

  .menu-toggle-item {
    @apply w-5 h-[2px] bg-current transition;
  }

  .workspace {
    @apply w-full h-filecontent p-5 bg-white border border-solid border-gray-100 rounded-lg overflow-x-hidden overflow-y-auto relative select-none;
  }

  .file-menu-item {
    @apply mr-5 last:mr-0 relative cursor-pointer;
  }
  
  .drop-down-menu {
    @apply w-52 absolute top-8 -left-2 z-10 bg-white border border-solid border-gray-100 rounded-lg;
  }

  .drop-down-menu-item {
    @apply p-2 mb-1 last:mb-0 hover:bg-slate-100 border border-solid border-gray-100 rounded-lg cursor-pointer;
  }
}
