*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:after,
:before {
  --tw-content: ""
}

html {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility
}

body {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #64748b;
  font-size: .875rem;
  line-height: 1.25rem;
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  background-color: var(--bg);
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: 2px solid transparent;

  &::placeholder {
    color: #94a3b8;
    opacity: .7;
  }
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
select {
  text-transform: none;
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.text-slate-700 {
  color: #334155;
}

.font-bold {
  font-weight: 700
}

.font-light {
  font-weight: 300
}

.font-medium {
  font-weight: 500
}

.font-normal {
  font-weight: 400
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.italic {
  font-style: italic
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 1rem;
  line-height: 1rem;
}

.bg-slate-50 {
  background-color: #f8fafc
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pointer-events-none {
  pointer-events: none;
}

.line-clamp-1 {
  -webkit-line-clamp: 1
}

.line-clamp-1,
.line-clamp-2 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden
}

.line-clamp-2 {
  -webkit-line-clamp: 2
}

.line-clamp-3 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden
}


.overflow-auto {
  overflow: auto
}

.overflow-hidden {
  overflow: hidden
}

.overflow-x-auto {
  overflow-x: auto
}

.overflow-y-auto {
  overflow-y: auto
}

.overflow-x-hidden {
  overflow-x: hidden
}

.overflow-y-hidden {
  overflow-y: hidden
}

.overscroll-contain {
  overscroll-behavior: contain
}

.text-ellipsis {
  text-overflow: ellipsis
}

.whitespace-nowrap {
  white-space: nowrap
}

.break-words {
  overflow-wrap: break-word
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-4 {
  border-width: 4px
}

.border-\[3px\] {
  border-width: 3px
}

.border-y {
  border-top-width: 1px
}

.border-b,
.border-y {
  border-bottom-width: 1px
}

.border-b-0 {
  border-bottom-width: 0
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-l {
  border-left-width: 1px
}

.border-l-0 {
  border-left-width: 0
}

.border-l-4 {
  border-left-width: 4px
}

.border-r {
  border-right-width: 1px
}

.border-r-0 {
  border-right-width: 0
}

.border-t {
  border-top-width: 1px
}

.border-t-0 {
  border-top-width: 0
}

.border-dashed {
  border-style: dashed
}

.border-dotted {
  border-style: dotted
}