:root {
  --margin-x: 1rem;
  --main-sidebar-width: 4.5rem;
  --sidebar-panel-width: 230px;
  --sidebar-panel-min-width: 64px;

  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;

  --tw-space-y-reverse: 0;

  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;

  @media (min-width: 768px) {
    --margin-x: 1.5rem;
  }

  @media (min-width: 1024px) {
    --main-sidebar-width: 5rem;
    --sidebar-panel-width: 240px;
  }

  @media (min-width: 1280px) {
    --margin-x: 4rem;
  }
}

@media (min-width: 1280px) {

  .has-min-sidebar {
    --margin-x: 2.5rem
  }

  .is-open-sidebar {
    --margin-x: 1.5rem
  }
}