<template>
  <Header />
  <main class="container">
    <slot></slot>
  </main>
  <Footer />
</template>

<script setup>
import Header from "@/components/base/Header.vue";
import Footer from "@/components/base/Footer.vue";

</script>

<style lang="scss" scoped>
main {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}
</style>
