<template>
  <div class="search">
    
    <input type="search" name="search" v-model="search" />
  </div>
</template>

<script setup>
import { ref, watch } from "vue";

const emit = defineEmits(["update:modelValue"]);
const props = defineProps({
  modelValue: {
    type: String,
    default: '',
  }
})

const search = ref(props.modelValue);
watch(() => props.modelValue, (val) => search.value = val);
watch(search, (val) => emit("update:modelValue", val));

</script>
