<template>
  <div class="sidebar">
    <div class="sidebar__container flex flex-col w-68">
      <PanelHeader class="border-b border-solid border-slate-200 px-4 py-1" />
      <PanelBody class="px-4 overflow-hidden">
        <template #menu>
          <PanelMenu :list-menu="listMenu" />
        </template>
      </PanelBody>
      <PanelFooter class="px-4 py-2" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import PanelHeader from './panel/PanelHeader.vue';
import PanelBody from './panel/PanelBody.vue';
import PanelFooter from './panel/PanelFooter.vue';
import PanelMenu from "./panel/PanelMenu.vue";

const listMenu = [
  {
    icon: 'icon-home',
    title: 'Главная',
    path: '/',
  },
  {
    icon: 'icon-file-word',
    title: 'Публикации',
    path: '/articles',
  },
  {
    icon: 'icon-pictures',
    title: 'Файловый менеджер',
    path: '/files',
  },
  {
    icon: 'icon-users',
    title: 'Пользователи',
    path: '/users',
  }
];
</script>
