<template>
  <div class="loader-overlay">
    <div class="loader">
      <span class="loader-spin"></span>
    </div>
  </div>
</template>

<script lang="ts" setup>

</script>

<style lang="scss" scoped>
.loader {
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: 10;
  position: relative;
  top: 50%;
  left: 50%;
  &-overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &-spin {
    display: block;
    width: inherit;
    height: inherit;
    border: 4px solid rgba(79,70,229,.3);
    border-right-color: #4f46e5;
    border-radius: 100%;
    animation: spin 1s linear infinite;
  }
}


@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}
</style>
