<template>
  <button class="menu-toggle" @click="$emit('onClick')">
    <span class="menu-toggle-item"></span>
    <span class="w-3 my-1.5 menu-toggle-item"></span>
    <span class="menu-toggle-item"></span>
  </button>
</template>

<script lang="ts" setup>
defineEmits(['onClick'])
</script>
